<form class="contact-form" formGroupName="contactForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="f-name">
            <label for="f-name">First name</label>
            <input type="text" id="f-name" class="first-name" placeholder="First name">
        </div>
        <div class="l-name">
            <label for="l-name">Last name</label>
            <input type="text" id="l-name" class="last-name">
        </div>
    </div>
    <div class="row">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="you@company.com">
    </div>
    <div class="row">
        <label for="phone"></label>
        <input type="text" id="phone" class="phonr-number">
    </div>
    <div class="row">
        <label for="message">Message</label>
        <textarea id="msg" class="message"></textarea>
    </div>
     <div class="row">
        <ng-custom-checkbox></ng-custom-checkbox>
     </div>
</form>
