<form class="contact-form" formGroupName="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Enter your name">
    </div>

    <div class="form-group">
        <label for="email"></label>
        <input type="text" id="email" placeholder="Enter your email address">
    </div>

    <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" placeholder="what would you like to talk about">
    </div>

    <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" class="message" placeholder="Whats on your mind"></textarea>
    </div>
    <button class="btn-primary">
        send message
    </button>
</form>
